{% load static %}

<header class="header rtl text-right">
    <div class="header-top ">
        <div class="container">
            <div class="header-right">
                <p class="welcome-msg">محل قرارگیری تیتر آخرین اخبار از قوانین </p>
            </div>
            <div class="header-left">
                <a href="{% url 'HomeApp:faq' %}" class="help d-lg-show">سوالات متداول</a>
                <a href="{% url 'HomeApp:about' %}" class="help d-lg-show">درباره ما</a>
                <a href="{% url 'HomeApp:contact' %}" class="contact d-xs-show">تماس با ما</a>
                <span class="divider"></span>
                {% if user.is_authenticated %}
                <form method="post" action="{% url "signout" %}">
                    {% csrf_token %}
                    <button type="submit">
                        <a >
                            <i class="fa-light fa-user"></i>خروج
                        </a>
                    </button>
                </form>
                {% else %}
                <a href="#signin" class="login-toggle link-to-tab">
                    <i class="fa-light fa-user"></i>ورود
                </a>
                {% endif %}

                <div class="dropdown login-dropdown off-canvas">
                    <div class="canvas-overlay"></div>
                    <div class="dropdown-box scrollable">
                        <div class="login-popup">
                            <div class="form-box">
                                <div class="tab tab-nav-simple tab-nav-boxed form-tab">

                                    <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5"
                                        role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active border-no" href="#signin">ورود </a>
                                        </li>
                                        <li class="delimiter">⟩</li>
                                        <li class="nav-item">
                                            <a class="nav-link border-no" href="#register"> یا ثبت نام</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="signin">
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="form-group mb-3">
                                                    {{ signin.username }}
                                                </div>
                                                <div class="form-group">
                                                    {{ signin.password }}

                                                </div>
                                                {% comment %} <div class="form-footer">
                                                    <div class="form-checkbox">
                                                        <input type="checkbox" class="custom-checkbox"
                                                            id="signin-remember" name="signin-remember">
                                                        <label class="form-control-label" for="signin-remember">من را به
                                                            خاطر بسپار</label>
                                                    </div>
                                                    <a href="password-forgot.html" class="lost-link">کلمه عبور را فراموش
                                                        کرده اید؟</a>
                                                </div> {% endcomment %}
                                                <button class="btn btn-dark btn-block btn-rounded" type="submit">
                                                    ورود
                                                </button>
                                            </form>
                                            <div class="form-choice text-center">
                                                <label class="ls-m">یا ورود با</label>
                                                <div class="social-links">
                                                    <a href="#" title="social-link"
                                                        class="social-link social-google fab fa-google border-no"></a>
                                                    <a href="#" title="social-link"
                                                        class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                                    <a href="#" title="social-link"
                                                        class="social-link social-telegram fab fa-twitter border-no"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="register">
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="form-group mb-3">
                                                    {{ signup.username }}
                                                </div>
                                                <div class="form-group mb-3">
                                                    {{ signup.email }}
                                                </div>
                                                <div class="form-group mb-3">
                                                    {{ signup.phone_number }}
                                                </div>
                                                <div class="form-group">
                                                    {{ signup.password }}
                                                </div>
                                                <div class="form-group">
                                                    {{ signup.password2 }}
                                                </div>
                                                {% comment %} <div class="form-footer">
                                                    <div class="form-checkbox">
                                                        <input type="checkbox" class="custom-checkbox"
                                                            id="register-agree" name="register-agree" required="">
                                                        <label class="form-control-label" for="register-agree">قوانین و
                                                            مقررات را می پذیرم .</label>
                                                    </div>
                                                </div> {% endcomment %}
                                                <button class="btn btn-dark btn-block btn-rounded" type="submit">ثبت نام
                                                </button>
                                            </form>
                                            <div class="form-choice text-center">
                                                <label class="ls-m">یا ثبت نام با</label>
                                                <div class="social-links">
                                                    <a href="#" title="social-link"
                                                        class="social-link social-google fab fa-google border-no"></a>
                                                    <a href="#" title="social-link"
                                                        class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                                    <a href="#" title="social-link"
                                                        class="social-link social-telegram fab fa-twitter border-no"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button title="Close (Esc)" type="button" class="mfp-close"><span>×</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-content-wrapper">
        <div class="header-middle sticky-header fix-top sticky-content">
            <div class="container">
                <div class="header-right">
                    <a href="#" class="mobile-menu-toggle ml-0">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </a>
                    <a href="/" class="logo">
                        <img src="{% static 'images/logo-white.png' %}" alt="لوگو قالب وکیل الرعایا" width="154"
                            height="43">
                    </a>
                    <nav class="main-nav">
                        <ul class="menu">
                            <li class="active">
                                <a href="/">خانه</a>
                            </li>
                            <li>
                                <a href="#">وکلا</a>
                                <ul>
                                    {% for lawyers in lawyertp %}
                                    <li><a href="services-single.html">{{ lawyers.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="#">دادخواست</a>
                                <ul>
                                    <li><a href="services-single.html">لاحیه نویسی </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">فایل های حقوقی</a>
                                <ul>
                                    {% for files in legalfiles %}
                                    <li> <a href="{% url 'HomeApp:download_file' files.id %}">{{ files.category }}</a></li>
                                    {% endfor %}
                                </ul>
                            <li>
                                <a href="{% url 'HomeApp:faq' %}">پرسش و پاسخ</a>
                            </li>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Divider -->
                </div>
                <div class="header-left">
                    <a href="tel:#" class="icon-box icon-box-side">
                        <div class="icon-box-icon ml-0 ml-lg-2">
                            <i class="fa-regular fa-phone"></i>
                        </div>
                        <div class="icon-box-content d-xs-show">
                            <h4 class="icon-box-title text-white">تلفن پاسخگو:</h4>
                            <p class="text-white"> 0912345678 </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{ errors }}
</header>