{% extends "parent/base.html" %}
{% load static  %}
{% block title %}پرسش و پاسخ{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}
        <main class="main rtl text-right">
            <div class="page-header section-main">
                <div class="container">
                    <h1 class="page-title">درباره ما</h1>
                    <ul class="breadcrumb">
                        <li><a href="index-2.html"><i class="fa-light fa-home"></i></a></li>
                        <li class="delimiter">⟩</li>
                        <li><a href="#">درباره ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-content">
                <section class="section-main appear-animate">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-6">
                                <div class="about-img">
                                    <div class="about-exp">
                                        <span>12+ سال تجربه و خدمت </span>
                                    </div>
                                    <div class="abt-img">
                                        <img src="{% static 'images/team/customer.jpg' %}" class="img-fluid banner-radius" alt="تیم قالب وکیل الرعایا" width="580" height="507">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 text-right">
                                <div class="section-title-main">
                                    <h3 class="section-subtitle p-relative">
                                        مدافع حقوق شما
                                    </h3>
                                    <div class="section-title-wrap">
                                        <h5 class="section-title">
                                            بهترین خدمات <b>حقوقی </b> با رویکردی حرفه‌ای
                                        </h5>
                                    </div>
                                </div>
                                <p class="section-desc">
                                    دفتر وکالت ما با سال‌ها تجربه در ارائه خدمات حقوقی، همواره در تلاش است تا بهترین راه‌حل‌ها را برای مشتریان خود فراهم کند. تیم ما متشکل از وکلای مجرب و متخصص در زمینه‌های مختلف حقوقی است که توانسته‌اند اعتماد مشتریان زیادی را جلب کنند. ما بر این باوریم که هر فرد یا کسب‌وکاری که با مشکلات حقوقی روبه‌رو است، باید از مشاوره و حمایت قانونی کامل و درست برخوردار باشد.
                                </p>
                                <div class="row about-main">
                                    <div class="col-md-12">
                                        <ul>
                                            <li>دفاع از حقوق شما در دادگاه‌ها و مراجع قضائی</li>
                                            <li>
                                                <div class="elementor-widget-container">
                                                    <img loading="lazy" decoding="async" width="46" height="12" src="{% static 'images/border.png' %}">
                                                </div>
                                            </li>
                                            <li>تنظیم و بررسی قراردادها و اسناد حقوقی</li>
                                            <li>
                                                <div class="elementor-widget-container">
                                                    <img loading="lazy" decoding="async" width="46" height="12" src="{% static 'images/border.png' %}">
                                                </div>
                                            </li>
                                            <li>مشاوره در زمینه حقوق تجارت و شرکت‌ها</li>
                                            <li>
                                                <div class="elementor-widget-container">
                                                    <img loading="lazy" decoding="async" width="46" height="12" src="{% static 'images/border.png' %}">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="services.html" class="btn btn-dark">تمامی خدمات</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="appear-animate rtl text-right section-main">
                    <div class="container appear-animate rtl text-right" data-animation-options="{
                    'delay': '.3s'
                }">
                        <div class="mx-auto">
                            <div class="row elements justify-content-center">
                                <div class="col-xl-4col col-lg-4 col-md-4 col-xs-6 col-12">
                                    <div class="element element-accordian">
                                        <a href="services-single.html" class="element-link"></a>
                                        <div class="banner-content rtl ">
                                            <i class="fa-light fa-gavel"></i>
                                            <h3 class="banner-title">
                                                دعاوی کیفری
                                            </h3>
                                            <h6 class="banner-subtitle">مواد مخدر، چک، سرقت، تصادف </h6>
                                            <a href="services-single.html" class="btn btn-gold btn-outline">
                                                مشاوره دعاوی کیفری
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4col col-lg-4 col-md-4 col-xs-6 col-12">
                                    <div class="element element-accordian">
                                        <a href="services-single.html" class="element-link"></a>
                                        <div class="banner-content rtl ">
                                            <i class="fa-light fa-scale-balanced"></i>
                                            <h3 class="banner-title">
                                                دعاوی ملکی
                                            </h3>
                                            <h6 class="banner-subtitle">اجاره‌نامه‌ها، تنظیم سند، تصرف عدوانی  </h6>
                                            <a href="services-single.html" class="btn btn-gold btn-outline">
                                                مشاوره دعاوی ملکی
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4col col-lg-4 col-md-4 col-xs-6 col-12">
                                    <div class="element element-accordian">
                                        <a href="services-single.html" class="element-link"></a>
                                        <div class="banner-content rtl ">
                                            <i class="fa-light fa-rings-wedding"></i>
                                            <h3 class="banner-title">
                                                دعاوی خانوادگی
                                            </h3>
                                            <h6 class="banner-subtitle">مهریه، طلاق، حقوق وراثت و انحصار </h6>
                                            <a href="services-single.html" class="btn btn-gold btn-outline">
                                                مشاوره دعاوی خانوادگی
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4col col-lg-4 col-md-4 col-xs-6 col-12">
                                    <div class="element element-accordian">
                                        <a href="services-single.html" class="element-link"></a>
                                        <div class="banner-content rtl ">
                                            <i class="fa-light fa-file-signature"></i>
                                            <h3 class="banner-title">
                                                دعاوی بانکی و مالی
                                            </h3>
                                            <h6 class="banner-subtitle"> اختلاس، چک ، سفته و وام کلان</h6>
                                            <a href="services-single.html" class="btn btn-gold btn-outline">
                                                مشاوره دعاوی مالی
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4col col-lg-4 col-md-4 col-xs-6 col-12">
                                    <div class="element element-accordian">
                                        <a href="services-single.html" class="element-link"></a>
                                        <div class="banner-content rtl ">
                                            <i class=" fa-light fa-network-wired"></i>
                                            <h3 class="banner-title">
                                                دعاوی اداری و کاری
                                            </h3>
                                            <h6 class="banner-subtitle">اختلافات با سازمان‌ها و شهرداری </h6>
                                            <a href="services-single.html" class="btn btn-gold btn-outline">
                                                مشاوره دعاوی اداری
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4col col-lg-4 col-md-4 col-xs-6 col-12">
                                    <div class="element element-accordian">
                                        <a href="services.html" class="element-link"></a>
                                        <div class="banner-content rtl ">
                                            <i class="fa-solid fa-arrow-left"></i>
                                            <h3 class="banner-title">
                                                تمامی خدمات
                                            </h3>
                                            <h6 class="banner-subtitle">لیست تمامی خدمات ما  </h6>
                                            <a href="services.html" class="btn btn-gold btn-outline">
                                                تمامی خدمات
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="counter-main section-main counter-background">
                    <div class="container">
                        <div class="row cols-1 cols-sm-2 cols-md-3 cols-lg-4 gutter-md counter-part-wrap">
                            <div class="counter-part">
                                <div class="counter text-center">
                                    <i class="fas fa-gavel"></i>
                                    <span class="count-to count-float" data-fromvalue="0" data-tovalue="2.6"
                                          data-duration="2000" data-delimiter="." data-round="1">0</span>
                                    <div class="counter-content">
                                        <h3 class="count-title">تعداد پرونده‌های موفق </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="counter-part">
                                <div class="counter text-center">
                                    <i class="fas fa-users"></i>
                                    <span class="count-to" data-fromvalue="0" data-tovalue="2415"
                                          data-duration="2000" data-delimiter=" ">0</span>
                                    <div class="counter-content">
                                        <h3 class="count-title">تعداد پرسنل و وکلا</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="counter-part">
                                <div class="counter text-center">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span class="count-to count-float" data-fromvalue="0" data-tovalue="15.2"
                                          data-duration="2000" data-delimiter="." data-round="1">0</span>
                                    <div class="counter-content">
                                        <h3 class="count-title">تعداد سال‌های فعالیت</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="counter-part">
                                <div class="counter text-center">
                                    <i class="fas fa-smile"></i>
                                    <span class="count-to" data-fromvalue="0" data-tovalue="2530"
                                          data-duration="2000" data-delimiter=" ">0</span>
                                    <div class="counter-content">
                                        <h3 class="count-title"> تعداد مشتریان راضی</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-main">
                    <div class="container">
                        <div class="section-title-main">
                            <h3 class="section-subtitle p-relative">
                                اعضای تیم ما
                            </h3>
                            <div class="section-title-wrap">
                                <h5 class="section-title">
                                    با اعضای  <b>دفتر ما </b> آشنا شوید.
                                </h5>
                            </div>
                        </div>
                        <div class="row cols-xs-2 cols-md-4">
                            <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter'}">
                                <a href="team-single.html" class="member-link">
                                    <figure class="banner-radius">
                                        <img src="{% static 'images/team/team1.jpg' %}" alt="اعضا تیم" width="280" height="280">
                                    </figure>
                                    <h4 class="image-box-name"> نسرین طاهری</h4>
                                    <h6 class="image-box-job">مشاور حقوقی</h6>
                                    <div class="social-links pt-2 pb-2">
                                        <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                        <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                        <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                                        <span href="#" class="social-link social-whatsapp fab fa-whatsapp font-weight-bolder"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.3s'}">
                                <a href="team-single.html" class="member-link">
                                    <figure class="banner-radius">
                                        <img src="{% static 'images/team/team2.jpg' %}" alt="اعضا تیم" width="280" height="280">
                                    </figure>
                                    <h4 class="image-box-name">مریم موسوی</h4>
                                    <h6 class="image-box-job">وکیل دعاوی خانوادگی</h6>
                                    <div class="social-links pt-2 pb-2">
                                        <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                        <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                        <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                                        <span href="#" class="social-link social-whatsapp fab fa-whatsapp font-weight-bolder"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.4s'}">
                                <a href="team-single.html" class="member-link">
                                    <figure class="banner-radius">
                                        <img src="{% static 'images/team/team3.jpg' %}" alt="اعضا تیم" width="280" height="280">
                                    </figure>
                                    <h4 class="image-box-name">زهرا جلالی</h4>
                                    <h6 class="image-box-job"> وکیل دعاوی تجاری</h6>
                                    <div class="social-links pt-2 pb-2">
                                        <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                        <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                        <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                                        <span href="#" class="social-link social-whatsapp fab fa-whatsapp font-weight-bolder"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}">
                                <a href="team-single.html" class="member-link">
                                    <figure class="banner-radius">
                                        <img src="{% static 'images/team/team4.jpg' %}" alt="اعضا تیم" width="280" height="280">
                                    </figure>
                                    <h4 class="image-box-name"> امیرحسین شریفی</h4>
                                    <h6 class="image-box-job">وکیل پایه یک دادگستری</h6>
                                    <div class="social-links pt-2 pb-2">
                                        <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                        <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                        <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                                        <span href="#" class="social-link social-whatsapp fab fa-whatsapp font-weight-bolder"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        {% endblock content %}