{% extends "parent/base.html" %}
{% load static  %}
{% block title %}پروفایل وکیل{% endblock title %}
{% comment %} content {% endcomment %}
{% block content %}
<main class="main rtl text-right">
    <div class="page-header section-main">
        <div class="container">
            <h1 class="page-title">تیم ما</h1>
            <ul class="breadcrumb">
                <li><a href="index-2.html"><i class="fa-light fa-home"></i></a></li>
                <li class="delimiter">⟩</li>
                <li><a href="#">تیم ما</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <section>
            <div class="container">
                <div class="section-main">
                    <div class="section-title-main">
                        <h3 class="section-subtitle p-relative">
                            تیم وکالت
                        </h3>
                        <div class="section-title-wrap">
                            <h5 class="section-title">
                                همکارانی در مسیر   <b>عدالت </b>
                            </h5>
                        </div>
                    </div>
                    <p>
                        تیم وکالت ما متشکل از گروهی از وکلای با تجربه، مشاوران حقوقی متخصص و کارشناسان خبره است که همگی هدفی مشترک دارند: ارائه خدمات حقوقی باکیفیت و موثر به تمامی مراجعین. اعضای این تیم نه تنها دارای دانش حقوقی گسترده هستند، بلکه با رویکردی انسانی و مسئولانه به هر پرونده می‌نگرند. ما معتقدیم که پشت هر پرونده، داستانی از زندگی، چالش‌ها و امیدها نهفته است، و به همین دلیل با تعهد و دقت، هر مورد را بررسی و پیگیری می‌کنیم.
                    </p>
                    <p>
                        هر یک از اعضای تیم ما در حوزه‌ای خاص تخصص دارند، از حقوق خانواده و دعاوی مدنی گرفته تا حقوق تجارت و مشاوره در پرونده‌های پیچیده کیفری. این تنوع تخصص به ما امکان می‌دهد تا به‌طور کامل نیازهای حقوقی مشتریان را پاسخ دهیم. ما به عنوان یک تیم، به هم‌افزایی باور داریم و در هر پرونده با همفکری و همکاری، بهترین راه‌حل‌های قانونی را ارائه می‌کنیم. اگر به دنبال تیمی حرفه‌ای و دلسوز هستید که بتواند به شما در مسیر دستیابی به عدالت کمک کند، ما آماده‌ایم تا با تمام توان در کنار شما باشیم.
                    </p>
                </div>
                <div class="row cols-xs-2 cols-sm-3 cols-md-4 section-main">
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team1.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name"> نسرین طاهری</h4>
                            <h6 class="image-box-job">مشاور حقوقی</h6>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                                <span href="#" class="social-link social-whatsapp fab fa-whatsapp font-weight-bolder"></span>
                            </div>
                        </a>
                    </div>
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.3s'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team2.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name">مریم موسوی</h4>
                            <h5 class="image-box-job">وکیل دعاوی خانوادگی</h5>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                            </div>
                        </a>
                    </div>
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.4s'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team3.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name">زهرا جلالی</h4>
                            <h5 class="image-box-job"> وکیل دعاوی تجاری</h5>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                            </div>
                        </a>
                    </div>
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team4.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name"> امیرحسین شریفی</h4>
                            <h5 class="image-box-job">وکیل پایه یک دادگستری</h5>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                            </div>
                        </a>
                    </div>
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team5.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name">مهتاب نوری</h4>
                            <h5 class="image-box-job">مشاور حقوقی شرکت‌ها</h5>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                            </div>
                        </a>
                    </div>
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team6.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name">علیرضا فرهمند </h4>
                            <h5 class="image-box-job">وکیل امور کیفری</h5>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                            </div>
                        </a>
                    </div>
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team7.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name">امیرحسین کریمی</h4>
                            <h5 class="image-box-job">وکیل دعاوی تجاری و بین‌المللی</h5>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                            </div>
                        </a>
                    </div>
                    <div class="image-box appear-animate fadeInLeftShorter appear-animation-visible" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}" style="animation-duration: 1.2s;">
                        <a href="team-single.html" class="member-link">
                            <figure class="banner-radius">
                                <img src="{% static 'images/team/team8.jpg' %}" alt="اعضا تیم" width="280" height="280">
                            </figure>
                            <h4 class="image-box-name">نرگس احمدی </h4>
                            <h5 class="image-box-job">وکیل دعاوی ملکی و قراردادها</h5>
                            <div class="social-links pt-2 pb-2">
                                <span href="#" class="social-link social-instagram fab fa-instagram font-weight-bolder"></span>
                                <span href="#" class="social-link social-twitter fab fa-twitter"></span>
                                <span href="#" class="social-link social-linkedin fab fa-linkedin-in"></span>
                            </div>
                        </a>
                    </div>
                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li><a href="#" class="prev">&laquo;</a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" class="next">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </section>
    
    </div>

</main>

{% endblock content %}