{% extends "parent/base.html" %}
{% load static  %}
{% block title %}پرسش و پاسخ{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}
        <main class="main bg-gray rtl text-right">
            <div class="page-header section-main">
                <div class="container">
                    <h1 class="page-title">سوالات متداول</h1>
                    <ul class="breadcrumb">
                        <li><a href="index-2.html"><i class="fa-light fa-home"></i></a></li>
                        <li class="delimiter">⟩</li>
                        <li><a href="#">سوالات متداول</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-content">
                <section class="section-main">
                    <div class="container">
                        <div class="section-title-main">
                            <h3 class="section-subtitle p-relative">
                                سوالات
                            </h3>
                            <div class="section-title-wrap">
                                <h5 class="section-title">
                                    پاسخ به پرسش‌های    <b>پرتکرار</b> ‌کاربران
                                </h5>
                            </div>
                            <p>
                                در این بخش، به سوالات متداولی که ممکن است درباره خدمات حقوقی ما، روند رسیدگی به پرونده‌ها و مشاوره‌های تخصصی داشته باشید، پاسخ داده‌ایم. اگر پاسخ سوال خود را در اینجا پیدا نکردید، می‌توانید از طریق فرم تماس با ما یا تماس تلفنی با تیم ما در ارتباط باشید. هدف ما ارائه اطلاعات دقیق و کمک به رفع ابهامات شما است.
                                اگر جواب خود را پیدا نکردید از ما بپرسید .
                            </p>
                        </div>
                        <div class="faq-main">
                            <div class="faq-wrap ">
                                <div class="col-lg-7 col-md-6 col-xs-12 faq-right">
                                    <div class="accordion accordion-border accordion-boxed accordion-plus">
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="#collapse1-1" class="collapse">چگونه می‌توانم وقت مشاوره حقوقی بگیرم؟</a>
                                            </div>
                                            <div id="collapse1-1" class="expanded">
                                                <div class="card-body">
                                                    <p>
                                                        برای دریافت وقت مشاوره، می‌توانید از طریق فرم آنلاین وبسایت ما درخواست خود را ثبت کنید یا با شماره تماس‌های درج‌شده در بخش "تماس با ما" ارتباط بگیرید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="#collapse1-2" class="expand">آیا مشاوره حقوقی اولیه رایگان است؟</a>
                                            </div>
                                            <div id="collapse1-2" class="collapsed">
                                                <div class="card-body">
                                                    <p>
                                                        بله، در برخی موارد مشاوره اولیه به‌صورت رایگان ارائه می‌شود. برای اطلاعات بیشتر، شرایط مشاوره را در بخش خدمات وبسایت بررسی کنید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="#collapse1-3" class="expand">دفتر وکالت شما در چه زمینه‌هایی فعالیت می‌کند؟</a>
                                            </div>
                                            <div id="collapse1-3" class="collapsed">
                                                <div class="card-body">
                                                    <p>
                                                        ما در زمینه‌های مختلفی از جمله دعاوی حقوقی، کیفری، خانوادگی، ملکی، تجاری و امور ثبتی فعالیت داریم. جزئیات خدمات در بخش "خدمات ما" قابل مشاهده است.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="#collapse1-4" class="expand">چگونه می‌توانم از وضعیت پرونده خود مطلع شوم؟</a>
                                            </div>
                                            <div id="collapse1-4" class="collapsed">
                                                <div class="card-body">
                                                    <p>
                                                        شما می‌توانید با استفاده از سیستم پیگیری آنلاین پرونده در وبسایت یا تماس با دفتر، از وضعیت پرونده خود مطلع شوید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="#collapse1-5" class="expand">آیا می‌توانم مشاوره حقوقی آنلاین دریافت کنم؟</a>
                                            </div>
                                            <div id="collapse1-5" class="collapsed">
                                                <div class="card-body">
                                                    <p>
                                                        بله، دفتر ما خدمات مشاوره آنلاین از طریق چت، تماس تصویری یا ایمیل را ارائه می‌دهد. برای شروع، فرم مربوطه را در وبسایت تکمیل کنید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="#collapse1-6" class="expand">چرا باید دفتر وکالت شما را انتخاب کنم؟</a>
                                            </div>
                                            <div id="collapse1-6" class="collapsed">
                                                <div class="card-body">
                                                    <p>
                                                        دفتر وکالت ما با تیمی مجرب از وکلای متخصص، رویکرد حرفه‌ای و تمرکز بر ارائه راهکارهای قانونی موثر، انتخابی مناسب برای حل مشکلات حقوقی شما است.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6  col-xs-12 faq-left">
                                    <div class="faq-left-wrap">
                                        <div class="icon-box icon-box-side mb-6">
                                            <span class="icon-box-icon text-white">
                                                <i class="fa-solid fa-mail-bulk"></i>
                                            </span>
                                            <div class="icon-box-content rtl">
                                                <p class=" text-white">اگر جواب سوال هایتان را پیدا نکردید از کارشناسان ما بخواهید.</p>
                                            </div>
                                        </div>
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6 form-group mb-3">
                                                    {{ form.full_name }}
                                                </div>
                                                <div class="col-md-6 form-group mb-3">
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 form-group mb-3">
                                                    {{ form.subject }}
                                                </div>
                                                <div class="col-md-6 form-group mb-3">
                                                    <div>
                                                        {{ form.subject_type }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-footer">
                                                <div class="form-checkbox">
                                                    {{ form.is_read }}
                                                    <label class="form-control-label text-white" for="register-agree">قوانین و مقررات را می پذیرم .</label>
                                                </div>
                                            </div>
                                            {{ form.message }}
                                            {% if user.is_authenticated %}
                                            <button class="btn btn-gold btn-block btn-rounded" type="submit">
                                                ثبت سوال
                                            </button>
                                            {% else %}
                                            <label class="form-control-label text-white" for="register-agree">لطفا وارد شوید</label>


                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        {% endblock content %}