{% extends "parent/base.html" %}
{% load static  %}
{% block title %}وکیل همراه{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}
<main class="main">
    <div class="page-content">
        <section class="section-slider">
            <div class="container section-slider-wrap">
                <div class="col-sm-6 col-xs-12 slider-img">
                    <figure>
                        <a href="#">
                            <img src="{% static 'images/agents/lawyer.png' %}" class="product-hover-image" alt="خانم وکیل">
                        </a>
                    </figure>
                </div>
                <div class="col-sm-6 col-xs-12 slider-info">
                    <h1>مشاوره و <span class="text-gold">خدمات حقوقی</span> تخصصی</h1>
                    <h3>پشتیبانی از حقوق شما با بهره‌گیری از تجربه و دانش در صدها پرونده موفق</h3>
                    <p> از مشاوره‌های ابتدایی تا دفاع نهایی در دادگاه، تلاش ما کسب بهترین نتیجه برای شماست.</p>
                </div>
            </div>
        </section>
        <section class="services-main counter-main section-main">
            <img class="bg1-services" src="{% static 'images/bg-1.png' %}" alt="background1" />
            <img class="bg2-services" src="{% static 'images/bg-2.png' %}" alt="background2" />
            <div class="container appear-animate rtl text-right" data-animation-options="{
            'delay': '.3s'
        }">
                <div class="mx-auto">
                    <div>
                        <h2 class="title-inverse title-sm title-center mb-1">خدمات حقوقی </h2>
                        <p class="title-inverse-custom-cross justify-content-center title-inverse-line title-inverse-right-line">
                            <i class="fa-thin fa-scale-balanced"></i>
                        </p>
                        <div class="row elements justify-content-center">
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="element element-accordian">
                                    <div class="banner-content rtl ">
                                        <i class="fa-light fa-gavel"></i>
                                        <h3 class="banner-title text-navy font-weight-bold">
                                            دعاوی کیفری
                                        </h3>
                                        <h5 class="banner-subtitle">مواد مخدر، چک، سرقت، تصادف </h5>
                                        <a href="services-single.html" class="btn btn-gold btn-outline btn-rounded">
                                            مشاوره دعاوی کیفری
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="element element-accordian">
                                    <div class="banner-content rtl ">
                                        <i class="fa-light fa-scale-balanced"></i>
                                        <h3 class="banner-title text-navy font-weight-bold">
                                            دعاوی ملکی
                                        </h3>
                                        <h5 class="banner-subtitle">اجاره‌نامه‌ها، تنظیم سند، تصرف عدوانی  </h5>
                                        <a href="services-single.html" class="btn btn-gold btn-outline btn-rounded">
                                            مشاوره دعاوی ملکی
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="element element-accordian">
                                    <div class="banner-content rtl ">
                                        <i class="fa-light fa-rings-wedding"></i>
                                        <h3 class="banner-title text-navy font-weight-bold">
                                            دعاوی خانوادگی
                                        </h3>
                                        <h5 class="banner-subtitle">مهریه، طلاق، حقوق وراثت و انحصار </h5>
                                        <a href="services-single.html" class="btn btn-gold btn-outline btn-rounded">
                                            مشاوره دعاوی خانوادگی
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="element element-accordian">
                                    <div class="banner-content rtl ">
                                        <i class="fa-light fa-file-signature"></i>
                                        <h3 class="banner-title text-navy font-weight-bold">
                                            دعاوی بانکی و مالی
                                        </h3>
                                        <h5 class="banner-subtitle"> اختلاس، چک و سفته</h5>
                                        <a href="services-single.html" class="btn btn-gold btn-outline btn-rounded">
                                            مشاوره دعاوی مالی
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="element element-accordian special">
                                    <div class="banner-content rtl ">
                                        <i class="fa-solid fa-arrow-left"></i>
                                        <h3 class="banner-title">
                                            تمامی خدمات
                                        </h3>
                                        <h5 class="banner-subtitle">لیست تمامی خدمات ما  </h5>
                                        <a href="services.html" class="btn btn-gold btn-outline btn-rounded">
                                            تمامی خدمات
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-section">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row feature-carousel feature-figure" data-animation-options="{
                        'name': '',
                        'delay': '.6s'
                    }" style="animation-duration: 1.2s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="450px" height="450px" viewBox="0 -1 70 72" class="float-svg" data-float-options="{&quot;delta&quot:1,&quotspeed&quot:10,&quotsize&quot:2.2}" xml:space="preserve">
                        <path fill-rule="evenodd" fill="#f8f8f8" clip-rule="evenodd" d="M49.591,12.717C37.556,8.485,38.429,2.068,27.712,0.635c-7.890,-1.060,-16.577,2.129,-18.961,15.643C6.076,31.445,0.033,38.148,0.000,48.177c-0.033,9.902,3.768,17.989,16.044,20.735c12.288,2.753,18.517,-1.609,27.712,-11.104c9.196,-9.511,19.782,-1.822,24.796,-17.123C72.674,28.096,68.490,19.285,49.591,12.717z">
                            </path>
                        </svg>
                        <div class="col-xs-12 product-gallery">
                            <div class="rotate-slider owl-carousel ltr owl-theme product-single-carousel owl-nav-arrow row gutter-no cols-1"
                                 data-owl-options="{
                                'nav': true,
                                'dots': false,
                                'loop': true
                            }">
                                <figure class="product-image">
                                    <img src="{% static 'images/certificate4.png' %}" alt="عکس گواهینامه">
                                </figure>
                                <figure class="product-image">
                                    <img src="{% static 'images/certificate3.png' %}" alt="عکس گواهینامه">
                                </figure>
                                <figure class="product-image">
                                    <img src="{% static 'images/certificate2.png' %}" alt="عکس گواهینامه">
                                </figure>
                                <figure class="product-image">
                                    <img src="{% static 'images/certificate.png' %}" alt="عکس گواهینامه">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-xs-12 pl-lg-10 mt-10 feature-content d-flex flex-column d-lg-block appear-animate rtl text-right fadeIn appear-animation-visible" data-animation-options="{
  'name': 'fadeIn',
  'delay': '.6s'
}" style="animation-duration: 1.2s;">
                        <h3 class="feature-subtitle text-primary d-inline-block p-relative font-weight-normal">
                            پروانه وکالت دفتر وکیل الرعایا
                        </h3>
                        <h2 class="feature-title text-primary font-secondary font-weight-normal lh-1">
                            وکیل پایه یک دادگستری
                        </h2>
                        <p>
                            پیرامون کلیه امور حقوقی و پرونده های قضایی خدمات ارائه میدهد و برای تعداد زیادی از افراد که در پی بهترین خدمات حقوقی و قضایی می باشند، انتخابی مطمئن و کم هزینه ای به شمار می آید.
                        </p>
                        <ul class="feature-list text-grey font-weight-normal pl-0 lh-1">
                            <li>
                                <span class="feature-list-icon">
                                    <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span>سطح وکیل : <b>وکیل پایه یک دادگستری</b>​ </span>
                            </li>
                            <li>
                                <span class="feature-list-icon">
                                    <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span> تخصص و مهارت : <b>حقوقی، کیفری، ملکی، خانواده، ثبتی، دعاوی اقتصادی</b></span>
                            </li>
                            <li>
                                <span class="feature-list-icon">
                                    <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span>ارائه خدمات حقوقی : <b>وکالت و مشاوره حقوقی</b> </span>
                            </li>
                            <li>
                                <span class="feature-list-icon">
                                    <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span> هزینه وکالت : <b>بر اساس سختی و وسعت پرونده تعیین می گردد</b></span>
                            </li>
                        </ul>
                        <a href="about-us.html" class="btn btn-primary">بیشتر </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="newsletter rtl text-right section-main">
            <div class="container banner banner-newsletter">
                <div class="banner-content row gutter-no align-items-center">
                    <div class=" col-lg-8 col-md-10 col-xs-12 counseling-main counter-main text-center">
                        <h2 class="font-weight-normal">ثبت مشاوره</h2>
                        <p class="title-inverse-custom-cross justify-content-center title-inverse-line title-inverse-right-line">
                            <i class="fa-thin fa-scale-balanced"></i>
                        </p>
                        <div class=" col-lg-9 col-md-10 col-xs-12 margin-auto mb-6">
                            <p>
                                برای مشاوره حقوقی تلفنی با بهترین وکیل پایه یک دادگستری ، شماره موبایل خود را قرار دهدید تا در اسرع وقت با شما تماس گرفته شود.
                            </p>
                        </div>
                        <div class=" col-lg-9 col-md-10 col-xs-12 margin-auto">
                            <form method="post" class="input-wrapper input-wrapper-inline ml-lg-auto mr-lg-auto">
                                {% csrf_token %}
                                {{ sm.phone_number }}
                                {% if user.is_authenticated %}
                                <button name="sm" class="btn btn-gold btn-newsletter mr-4" type="submit">
                                    ثبت
                                </button>
                            </form>
                            {% else %}
                                <button href="#signin" name="nop" class="btn btn-gold btn-newsletter mr-4" type="button">
                                    باید وارد شوید
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="member-main-wrap  section-main">
            <div class="container">
                <div class="row cols-xs-2 cols-1 cols-md-4">
                    <a href="team-single.html" class="member-link text-center">
                        <figure class="banner-radius">
                            <img src="{% static 'images/team/team1.jpg' %}" alt="اعضا تیم" width="280" height="280">
                        </figure>
                        <h4 class="image-box-name"> نسرین طاهری</h4>
                        <h6 class="image-box-job">مشاور حقوقی</h6>
                        
                    </a>
                    <a href="team-single.html" class="member-link text-center">
                        <figure class="banner-radius">
                            <img src="{% static 'images/team/team2.jpg' %}" alt="اعضا تیم" width="280" height="280">
                        </figure>
                        <h4 class="image-box-name">مریم موسوی</h4>
                        <h5 class="image-box-job">وکیل دعاوی خانوادگی</h5>
                        
                    </a>
                    <a href="team-single.html" class="member-link text-center">
                        <figure class="banner-radius">
                            <img src="{% static 'images/team/team3.jpg' %}" alt="اعضا تیم" width="280" height="280">
                        </figure>
                        <h4 class="image-box-name">زهرا جلالی</h4>
                        <h5 class="image-box-job"> وکیل دعاوی تجاری</h5>
                        
                    </a>
                    <a href="team-single.html" class="member-link text-center">
                        <figure class="banner-radius">
                            <img src="{% static 'images/team/team4.jpg' %}" alt="اعضا تیم" width="280" height="280">
                        </figure>
                        <h4 class="image-box-name"> امیرحسین شریفی</h4>
                        <h5 class="image-box-job">وکیل پایه یک دادگستری</h5>
                        
                    </a>
                </div>
            </div>
        </section>
        <section class="contacts-main-wrap section-main">
            <div class="container contacts-main">
                <div class="col-xl-7 col-md-6 col-sm-12 contacts-main-right">
                    <div class="row mr-0 pl-lg-10 feature-content d-flex align-items-center flex-column d-lg-block appear-animate rtl text-right fadeIn appear-animation-visible" data-animation-options="{
  'name': 'fadeIn',
  'delay': '.6s'
}" style="animation-duration: 1.2s;">
                        <div class="section-title-main">
                            <h3 class="section-subtitle p-relative">
                                دفتر وکالت وکیل الرعایا
                            </h3>
                            <div class="section-title-wrap">
                                <h5 class="section-title">
                                    اطلاعات تماس  <b>دفتر </b> ‌و کارکنان
                                </h5>
                            </div>
                        </div>
                        <ul class="feature-list text-grey font-weight-normal pl-0">
                            <li>
                                <span class="feature-list-icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <span><strong>آدرس  : </strong>تهران، خیابان ولیعصر، پلاک ۱۲۳</span>
                            </li>
                            <li>
                                <span class="feature-list-icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <a href="tel:02134567890"><strong>  تلفن ثابت: </strong>34567890 - 021</a>
                            </li>
                            <li>
                                <span class="feature-list-icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <a href="tel:0987654321"><strong>  تلفن پاسخگو: </strong>0987654321</a>
                            </li>
                            <li>
                                <span class="feature-list-icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <span><strong>  ایمیل : </strong><a href="mailto:example@example.com">support@example.com</a></span>
                            </li>
                            <li>
                                <span class="feature-list-icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <span><strong>  ساعات کاری : </strong>شنبه تا پنج‌شنبه، ۹ صبح تا ۵ عصر</span>
                            </li>
                        </ul>
                        <div class="social-links social-link-active">
                            <a href="#" class="social-link  social-main" title="تلگرام"><i class="fa-brands fa-telegram"></i></a>
                            <a href="#" class="social-link social-main" title="اینستاگرام"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="social-link social-main" title="واتس آپ"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#" class="social-link social-main" title="تلفن تماس"><i class="fa-light fa-phone"></i></a>
                            <a href="#" class="social-link social-main" title="روبیکا"><img src="{% static 'images/rubika.png' %}" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-12 contacts-main-left">
                    <div class="grey-section map-main">
                        <img src="{% static 'images/map.jpg' %}" alt="نقشه" />
                    </div>
                </div>
            </div>
        </section>

        <section class="section-main rtl">
            <div class="container ">
                <div class="section-title-main">
                    <h3 class="section-subtitle p-relative">
                        مقالات مرتبط
                    </h3>
                    <div class="section-title-wrap">
                        <h5 class="section-title">
                            با وکالت در  <b> ایران</b> ‌
                        </h5>
                    </div>
                </div>
                <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-sm-2 cols-1"
                     data-owl-options="{
                          'rtl':true,
                          'items': 4,
                          'margin': 20,
                          'nav': false,
                          'dots': true,
                          'loop': true,
                          'autoplay': true,
                          'autoplayTimeout': 3000,
                          'responsive': {
                            '0': {
                                'items': 1
                            },
                            '576': {
                                'items': 2
                            },
                            '768': {
                                'items': 3
                            },
                            '1200': {
                                'items': 4,
                                'dots': false
                            }
                        }
                    }">
                    <div class="post post-sm overlay-dark">
                        <figure class="post-media">
                            <a href="blog-single.html">
                                <img src="{% static 'images/blog/element/6.jpg' %}" width="380" height="200" alt="عکس از گالری" />
                            </a>
                        </figure>
                        <div class="post-details rtl">
                            <div class="post-meta">
                                <i class="fa-solid fa-user"></i> <a href="#" class="post-author">نهال ایران منش</a><span class="divider"></span>
                                <i class="fa-solid fa-calendar-alt"></i> <a href="#" class="post-date">12 اسفند 1403</a><span class="divider"></span>
                                <i class="fa-solid fa-comment"></i><a href="#" class="post-comment"><span>2</span> دیدگاه</a>
                            </div>
                            <h5 class="post-title">
                                <a href="blog-single.html">تفاوت وکیل مدنی و وکیل کیفری</a>
                            </h5>
                            <p class="post-content">
                                وکالت در دو حوزه مدنی و کیفری متفاوت است. این مقاله به بررسی تفاوت‌های اصلی بین این دو نوع وکالت و حوزه‌های فعالیت هر کدام می‌پردازد.
                            </p>
                            <a href="blog-single.html" class="btn btn-link text-gold">
                                بیشتر<span class="mr-1">»</span>
                            </a>
                        </div>
                    </div>
                    <div class="post post-sm inner-video overlay-dark">
                        <figure class="post-media">
                            <a href="blog-single.html">
                                <img src="{% static 'images/blog/element/7.jpg' %}" width="380" height="200" alt="عکس از گالری" />
                            </a>
                            <span class="video-play">
                                <i class=""></i>
                            </span>
                            <video width="380">
                                <source src="video/Lawyer-3.mp4" type="video/mp4">
                            </video>
                        </figure>
                        <div class="post-details rtl">
                            <div class="post-meta">
                                <i class="fa-solid fa-user"></i> <a href="#" class="post-author">نهال ایران منش</a><span class="divider"></span>
                                <i class="fa-solid fa-calendar-alt"></i> <a href="#" class="post-date">12 اسفند 1403</a><span class="divider"></span>
                                <i class="fa-solid fa-comment"></i><a href="#" class="post-comment"><span>2</span> دیدگاه</a>
                            </div>
                            <h5 class="post-title"><a href="blog-single.html"> اهمیت مشاوره حقوقی قبل از اقدام قانونی </a></h5>
                            <p class="post-content">
                                مشاوره حقوقی می‌تواند به شما کمک کند تا از مشکلات قانونی پیشگیری کنید و تصمیمات بهتری بگیرید. در این مقاله، اهمیت مشاوره حقوقی و چگونگی بهره‌برداری از آن بررسی می‌شود.
                            </p>
                            <a href="blog-single.html" class="btn btn-link text-gold">
                                بیشتر<span class="mr-1">»</span>
                            </a>
                        </div>
                    </div>
                    <div class="post post-sm overlay-dark">
                        <figure class="post-media">
                            <a href="blog-single.html">
                                <img src="{% static 'images/blog/element/8.jpg' %}" width="380" height="200" alt="عکس از گالری" />
                            </a>
                        </figure>
                        <div class="post-details rtl">
                            <div class="post-meta">
                                <i class="fa-solid fa-user"></i> <a href="#" class="post-author">نهال ایران منش</a><span class="divider"></span>
                                <i class="fa-solid fa-calendar-alt"></i> <a href="#" class="post-date">12 اسفند 1403</a><span class="divider"></span>
                                <i class="fa-solid fa-comment"></i><a href="#" class="post-comment"><span>2</span> دیدگاه</a>
                            </div>
                            <h5 class="post-title">
                                <a href="blog-single.html"> حقوق وکیل و وظایف او </a>
                            </h5>
                            <p class="post-content">
                                وکلا نه تنها وظایف قانونی دارند بلکه باید از حقوق موکلین خود نیز حمایت کنند. این مقاله به بررسی حقوق وکیل و وظایف حرفه‌ای او در جریان پرونده‌ها می‌پردازد.
                            </p>
                            <a href="blog-single.html" class="btn btn-link text-gold">
                                بیشتر<span class="mr-1">»</span>
                            </a>
                        </div>
                    </div>
                    <div class="post post-sm overlay-dark">
                        <figure class="post-media">
                            <a href="blog-single.html">
                                <img src="{% static 'images/blog/element/9.jpg' %}" width="380" height="200" alt="عکس از گالری" />
                            </a>
                        </figure>
                        <div class="post-details rtl">
                            <div class="post-meta">
                                <i class="fa-solid fa-user"></i> <a href="#" class="post-author">نهال ایران منش</a><span class="divider"></span>
                                <i class="fa-solid fa-calendar-alt"></i> <a href="#" class="post-date">12 اسفند 1403</a><span class="divider"></span>
                                <i class="fa-solid fa-comment"></i><a href="#" class="post-comment"><span>2</span> دیدگاه</a>
                            </div>
                            <h5 class="post-title">
                                <a href="blog-single.html">چگونه وکیل مناسبی انتخاب کنیم؟ </a>
                            </h5>
                            <p class="post-content"> انتخاب وکیل مناسب می‌تواند تأثیر بسزایی بر نتیجه پرونده شما داشته باشد. در این مقاله، نکاتی کلیدی برای انتخاب وکیل با تخصص مرتبط با پرونده شما و معیارهای ارزیابی آنها ارائه می‌شود. </p>
                            <a href="blog-single.html" class="btn btn-link text-gold">
                                بیشتر<span class="mr-1">»</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock content %}