{% extends "parent/base.html" %}
{% load static %}
{% block title %}وکیل همراه{% endblock title %}

{% block content %}
        <main class="main rtl text-right">
            <div class="page-header section-main">
                <div class="container">
                    <h1 class="page-title">شرح خدمت</h1>
                    <ul class="breadcrumb">
                        <li><a href="index-2.html"><i class="fa-light fa-home"></i></a></li>
                        <li class="delimiter">⟩</li>
                        <li><a href="gallery.html">خدمات </a></li>
                        <li class="delimiter">⟩</li>
                        <li><a href="#">شرح خدمت</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-content">
                <div class="page-content with-sidebar section-main">
                    <div class="container">
                        <div class="row gutter-lg">
                            <div class="col-lg-9 post-single-wrap">
                                <section class="section-main">
                                    <article class="post-single">
                                        <div class="owl-carousel owl-theme owl-nav-arrow owl-nav-fade row cols-1 animation-slider"
                                             data-owl-options="{
                       'rtl':true,
                       'nav': false,
                       'dots': true,
                       'autoplay': true,
                       'autoplayTimeout': 3000,
                       'responsive': {
                           '768': {
                               'autoplay': true,
                               'nav': true
                           }
                       }}">
                                            <div class="banner-slide1 banner banner-fixed">
                                                <figure>
                                                    <img src="images/project/slide3.jpg" width="1150"
                                                         height="548" alt="تصویر اسلایدر" />
                                                </figure>
                                            </div>
                                            <div class="banner-slide2 banner banner-fixed">
                                                <figure>
                                                    <img src="images/project/slide4.jpg" width="1150"
                                                         height="548" alt="تصویر اسلایدر" />
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="date-main">
                                            <span class="date-main-date">
                                                20
                                            </span>
                                            <span class="date-main-month">
                                                شهریور
                                            </span>
                                        </div>
                                        <div class="post-details introduction rtl">
                                            <h5 class="post-title">
                                                <a href="blog-list.html">
                                                    مشاوره در حقوق محیط زیست
                                                </a>
                                            </h5>
                                            <p>
                                                <strong>مشاوره در حقوق محیط زیست :</strong>
                                                مشاوره در حقوق محیط زیست یکی از حوزه‌های نوین و مهم خدمات حقوقی است که بر حفظ منابع طبیعی و رعایت قوانین مرتبط با محیط زیست تمرکز دارد. وکلای متخصص در این زمینه با ارائه مشاوره به افراد، شرکت‌ها، و سازمان‌ها کمک می‌کنند تا فعالیت‌هایشان مطابق با مقررات زیست‌محیطی باشد و از جرایم و تخلفات قانونی در این حوزه جلوگیری شود.
                                            </p>
                                        </div>
                                    </article>
                                    <blockquote class="mt-6 mb-6 p-relative">
                                        <p class="font-weight-half">
                                            محیط زیست تنها یک مسئولیت اجتماعی نیست، بلکه سرمایه‌ای برای آینده است. نقش ما به عنوان مشاوران حقوقی، اطمینان از اجرای قوانین و پیشگیری از تخریب این گنجینه ارزشمند است.
                                        </p>
                                    </blockquote>
                                    <section>
                                        <h6>حفاظت از آینده‌ای پایدار</h6>
                                        <p>حقوق محیط زیست، به عنوان یکی از شاخه‌های نوین حقوقی، در جهان امروز اهمیتی دوچندان پیدا کرده است. این حوزه بر حفظ منابع طبیعی، کنترل آلودگی و رعایت قوانین زیست‌محیطی تمرکز دارد. با رشد صنعتی و افزایش پروژه‌های بزرگ عمرانی، نیاز به مشاوره حقوقی تخصصی در این زمینه بیش از پیش احساس می‌شود.</p>
                                        <p>مشاوره در حقوق محیط زیست به افراد، شرکت‌ها و سازمان‌ها کمک می‌کند تا ضمن رعایت قوانین، فعالیت‌های خود را با کمترین تأثیر منفی بر محیط زیست انجام دهند. این خدمات شامل طیف گسترده‌ای از فعالیت‌ها می‌شود که به برخی از مهم‌ترین آن‌ها در ادامه اشاره شده است:</p>
                                        <h6>بررسی پروژه‌های زیست‌محیطی</h6>
                                        <p>هر پروژه صنعتی یا عمرانی می‌تواند تأثیرات زیادی بر محیط زیست داشته باشد. مشاوران حقوقی محیط زیست، ارزیابی‌های دقیقی از جنبه‌های قانونی و زیست‌محیطی این پروژه‌ها انجام می‌دهند. برای مثال، در پروژه‌های سدسازی یا استخراج منابع طبیعی، مشاوره دقیق می‌تواند از خسارات جبران‌ناپذیر جلوگیری کند.</p>
                                        <h6>تدوین قراردادهای زیست‌محیطی</h6>
                                        <p>شرکت‌ها و سازمان‌های مختلف برای همکاری‌های خود نیاز به قراردادهایی دارند که تأثیرات زیست‌محیطی را در نظر بگیرد. وکلای محیط زیست می‌توانند این قراردادها را به‌گونه‌ای تنظیم کنند که حقوق تمامی طرف‌ها رعایت شود و قوانین ملی و بین‌المللی نقض نشود.</p>
                                        <h6>مدیریت پرونده‌های آلایندگی</h6>
                                        <p>یکی از مشکلات رایج در حوزه محیط زیست، آلایندگی ناشی از فعالیت‌های صنعتی است. آلودگی هوا، خاک و آب می‌تواند منجر به شکایات و جرایم سنگین شود. وکلای محیط زیست در این موارد می‌توانند نقش میانجی را ایفا کنند و با ارائه دفاعیات حقوقی مناسب، راه‌حل‌های قانونی برای کاهش آسیب‌ها پیشنهاد دهند.</p>
                                        <h6>نمایندگی در دعاوی زیست‌محیطی</h6>
                                        <p>دعاوی مربوط به تخریب محیط زیست یکی از پیچیده‌ترین پرونده‌های حقوقی است. برای مثال، ممکن است یک شرکت ساختمانی متهم به تخریب جنگل یا منابع طبیعی شود. مشاوران حقوقی محیط زیست با تسلط بر قوانین، می‌توانند از حقوق قانونی متهم یا حتی شاکی دفاع کنند.</p>
                                        <h6>مشاوره در اجرای طرح‌های پایدار</h6>
                                        <p>شرکت‌های پیشرو در صنایع مختلف برای کاهش تأثیرات منفی بر محیط زیست به دنبال پیاده‌سازی طرح‌های پایدار هستند. وکلای محیط زیست می‌توانند در طراحی و اجرای این طرح‌ها، از جمله کاهش مصرف انرژی، مدیریت پسماند و استفاده از منابع تجدیدپذیر، نقش کلیدی ایفا کنند.</p>
                                        <h6>پیشگیری از جرایم زیست‌محیطی</h6>
                                        <p>یکی از مهم‌ترین اهداف مشاوره در حقوق محیط زیست، پیشگیری از وقوع جرایم و تخلفات زیست‌محیطی است. با اطلاع‌رسانی و ارائه راهکارهای قانونی، بسیاری از مشکلات پیش از وقوع حل می‌شود.</p>
                                        <h6>نمونه کاربردی</h6>
                                        <p>تصور کنید یک شرکت صنعتی بزرگ به دلیل دفع غیرقانونی زباله‌های شیمیایی، متهم به آلودگی آب‌های زیرزمینی شده است. در چنین شرایطی، یک مشاور حقوقی محیط زیست با بررسی دقیق پرونده، شواهد و مدارک لازم را جمع‌آوری کرده و با ارائه دفاعیات مستند، از حقوق شرکت دفاع می‌کند. همزمان، این مشاور می‌تواند به شرکت راهکارهایی ارائه دهد تا در آینده از این مشکلات جلوگیری شود.</p>
                                        <h6>تأثیرات گسترده حقوق محیط زیست</h6>
                                        <p>مشاوره در این حوزه نه‌تنها به حفظ محیط زیست کمک می‌کند، بلکه باعث کاهش هزینه‌های ناشی از جرایم زیست‌محیطی، بهبود تصویر عمومی شرکت‌ها و افزایش اعتماد عمومی می‌شود. این خدمات برای دولت‌ها، سازمان‌های مردم‌نهاد و حتی جامعه محلی نیز اهمیت زیادی دارد.</p>
                                        <h6>جمع‌بندی</h6>
                                        <p>
                                            مشاوره در حقوق محیط زیست، ابزاری ضروری برای مدیریت مسئولانه منابع طبیعی و رعایت قوانین زیست‌محیطی است. وکلای متخصص در این حوزه، با ارائه خدماتی گسترده و تخصصی، نه‌تنها از حقوق شرکت‌ها و افراد دفاع می‌کنند، بلکه به ایجاد آینده‌ای پایدار برای نسل‌های بعدی نیز کمک می‌کنند.
                                        </p>
                                        <h6></h6>
                                        <p></p>
                                        <h6></h6>
                                        <p></p>
                                    </section>
                                </section>
                                <div class="related-posts section-main">
                                    <div class="section-title-main">
                                        <h3 class="section-subtitle p-relative">
                                            پروژهای مرتبط
                                        </h3>
                                        <div class="section-title-wrap">
                                            <h5 class="section-title">
                                                اخیر پروژه های   <b> دفتر وکیل الرعایا</b> ‌در زمینه حقوق و قوانین ایران
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="owl-carousel owl-theme row cols-lg-3 cols-sm-2" data-owl-options="{
                                     'rtl':true,
                                    'items': 1,
                                    'margin': 20,
                                    'loop': true,
                                    'autoplay': true,
                                    'autoplayTimeout': 3000,
                                    'responsive': {
                                        '576': {
                                            'items': 2
                                        },
                                        '768': {
                                            'items': 3
                                        }
                                    }
                                }">
                                        <div class="post">
                                            <figure class="post-media">
                                                <a href="#">
                                                    <img src="images/blog/single/10.jpg" width="380" height="250" alt="عکس از گالری" />
                                                </a>
                                                <div class="post-calendar">
                                                    <span class="post-day">19</span>
                                                    <span class="post-month">آبان</span>
                                                </div>
                                            </figure>
                                            <div class="post-details rtl">
                                                <h5 class="post-title">
                                                    <a href="project-single.html">
                                                        تنظیم قراردادها
                                                    </a>
                                                </h5>
                                                <p class="post-content">
                                                    با توجه به ماهیت فناوری استارتاپ، مشاوره‌های لازم برای ثبت حقوق مالکیت فکری و پتنت‌ها انجام شد تا از ایده‌های نوآورانه محافظت شود.
                                                </p>
                                                <a href="project-single.html"
                                                   class="btn btn-link btn-underline btn-primary">
                                                    بیشتر<span class="mr-1">»</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post">
                                            <figure class="post-media">
                                                <a href="#">
                                                    <img src="images/blog/single/11.jpg" width="380" height="250" alt="عکس از گالری" />
                                                </a>
                                                <div class="post-calendar">
                                                    <span class="post-day">27</span>
                                                    <span class="post-month">آبان</span>
                                                </div>
                                            </figure>
                                            <div class="post-details rtl">
                                                <h5 class="post-title">
                                                    <a href="project-single.html">
                                                        وکالت دعاوی کیفری
                                                    </a>
                                                </h5>
                                                <p class="post-content">
                                                    مشاوره در خصوص وضعیت مالیاتی و ثبت شرکت در قالب‌های قانونی مختلف برای بهره‌مندی از مزایای مالیاتی و حقوقی مختلف.
                                                </p>
                                                <a href="project-single.html"
                                                   class="btn btn-link btn-underline btn-primary">
                                                    بیشتر<span class="mr-1">»</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post">
                                            <figure class="post-media">
                                                <a href="#">
                                                    <img src="images/blog/single/12.jpg" width="380" height="250" alt="عکس از گالری" />
                                                </a>
                                                <div class="post-calendar">
                                                    <span class="post-day">12</span>
                                                    <span class="post-month">آبان</span>
                                                </div>
                                            </figure>
                                            <div class="post-details rtl">
                                                <h5 class="post-title">
                                                    <a href="project-single.html">
                                                        وکالت دعاوی مدنی
                                                    </a>
                                                </h5>
                                                <p class="post-content">
                                                    ارائه راهکارهای حقوقی در راستای جذب سرمایه از سرمایه‌گذاران خطرپذیر و تنظیم قراردادهای مربوط به سهام و شرایط سرمایه‌گذاری.
                                                </p>
                                                <a href="project-single.html"
                                                   class="btn btn-link btn-underline btn-primary">
                                                    بیشتر<span class="mr-1">»</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post">
                                            <figure class="post-media">
                                                <a href="#">
                                                    <img src="images/blog/single/13.jpg" width="380" height="250" alt="عکس از گالری" />
                                                </a>
                                                <div class="post-calendar">
                                                    <span class="post-day">27</span>
                                                    <span class="post-month">آبان</span>
                                                </div>
                                            </figure>
                                            <div class="post-details rtl">
                                                <h5 class="post-title">
                                                    <a href="project-single.html">
                                                        مشاوره در امور خانواده
                                                    </a>
                                                </h5>
                                                <p class="post-content">
                                                    حقوق شهروندی شامل مجموعه‌ای از حقوق و مسئولیت‌هاست که هر فرد به‌عنوان یک عضو از جامعه دارد. آگاهی از این حقوق مانند حق آزادی بیان، حق دسترسی به عدالت و حق بهره‌مندی از خدمات عمومی، می‌تواند نقش مهمی در دفاع از منافع فردی و اجتماعی ایفا کند. در این مطلب به زبان ساده، مهم‌ترین حقوق شهروندی و نحوه استفاده از آن‌ها را بررسی می‌کنیم.
                                                </p>
                                                <a href="project-single.html"
                                                   class="btn btn-link btn-underline btn-primary">
                                                    بیشتر<span class="mr-1">»</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments section-main">
                                    <div class="section-title-main">
                                        <h3 class="section-subtitle p-relative">
                                            دیدگاه شما
                                        </h3>
                                        <div class="section-title-wrap">
                                            <h5 class="section-title">
                                                نظرات شما،   <b> راهنمای ما</b> برای بهتر شدن
                                            </h5>
                                        </div>
                                    </div>
                                    <p class="mb-6">
                                        در صفحه پرسش‌های متداول به سوالات رایج و کلیدی که ممکن است در ذهن شما درباره خدمات حقوقی ما شکل بگیرد، پاسخ داده‌ایم. هدف ما از ایجاد این بخش، فراهم آوردن اطلاعات دقیق و شفاف درباره مراحل مختلف حقوقی، نحوه دریافت مشاوره و خدمات و سایر جزئیات مرتبط است. امیدواریم این پاسخ‌ها بتوانند بسیاری از ابهامات شما را برطرف کرده و به تصمیم‌گیری بهتر در مسیر حقوقی‌تان کمک کنند.
                                    </p>
                                    <ul>
                                        <li>
                                            <div class="comment">
                                                <figure class="comment-media">
                                                    <a href="#">
                                                        <img src="images/agents/1.jpg" alt="تصویر پروفایل">
                                                    </a>
                                                </figure>
                                                <div class="comment-body rtl text-right">
                                                    <div class="comment-user">
                                                        <span class="comment-date">چهارشنبه، 27 آبان 1402</span>
                                                        <h6><a href="#">آوا محمدی</a></h6>
                                                    </div>
                                                    <div class="comment-content mb-2">
                                                        <p>
                                                            حقوق شهروندی شامل مجموعه‌ای از حقوق و مسئولیت‌هاست که هر فرد به‌عنوان یک عضو از جامعه دارد. آگاهی از این حقوق مانند حق آزادی بیان، حق دسترسی به عدالت و حق بهره‌مندی از خدمات عمومی، می‌تواند نقش مهمی در دفاع از منافع فردی و اجتماعی ایفا کند. در این مطلب به زبان ساده، مهم‌ترین حقوق شهروندی و نحوه استفاده از آن‌ها را بررسی می‌کنیم.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="btn btn-link text-gold">
                                                        پاسخ دهید <span class="mr-1">»</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="comment">
                                                        <figure class="comment-media">
                                                            <a href="#">
                                                                <img src="images/agents/2.jpg" alt="تصویر پروفایل">
                                                            </a>
                                                        </figure>
                                                        <div class="comment-body rtl text-right">
                                                            <div class="comment-user">
                                                                <span class="comment-date">چهارشنبه، 27 آبان 1402</span>
                                                                <h6><a href="#">علی اسدی</a></h6>
                                                            </div>
                                                            <div class="comment-content mb-2">
                                                                <p>
                                                                    حقوق شهروندی شامل مجموعه‌ای از حقوق و مسئولیت‌هاست که هر فرد به‌عنوان یک عضو از جامعه دارد. آگاهی از این حقوق مانند حق آزادی بیان، حق دسترسی به عدالت و حق بهره‌مندی از خدمات عمومی، می‌تواند نقش مهمی در دفاع از منافع فردی و اجتماعی ایفا کند. در این مطلب به زبان ساده، مهم‌ترین حقوق شهروندی و نحوه استفاده از آن‌ها را بررسی می‌کنیم.
                                                                </p>
                                                            </div>
                                                            <a href="#" class="btn btn-link text-gold">
                                                                پاسخ دهید <span class="mr-1">»</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="comment">
                                                <figure class="comment-media">
                                                    <a href="#">
                                                        <img src="images/agents/3.jpg" alt="تصویر پروفایل">
                                                    </a>
                                                </figure>
                                                <div class="comment-body rtl text-right">
                                                    <div class="comment-user">
                                                        <span class="comment-date">چهارشنبه، 27 آبان 1402</span>
                                                        <h6><a href="#">سارا حاتمی </a></h6>
                                                    </div>
                                                    <div class="comment-content mb-2">
                                                        <p>
                                                            حقوق شهروندی شامل مجموعه‌ای از حقوق و مسئولیت‌هاست که هر فرد به‌عنوان یک عضو از جامعه دارد. آگاهی از این حقوق مانند حق آزادی بیان، حق دسترسی به عدالت و حق بهره‌مندی از خدمات عمومی، می‌تواند نقش مهمی در دفاع از منافع فردی و اجتماعی ایفا کند. در این مطلب به زبان ساده، مهم‌ترین حقوق شهروندی و نحوه استفاده از آن‌ها را بررسی می‌کنیم.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="btn btn-link text-gold">
                                                        پاسخ دهید <span class="mr-1">»</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Comment  -->
                                <div class="reply rtl text-right">
                                    <div class="section-title-main">
                                        <h3 class="section-subtitle p-relative">
                                            دیدگاه خود را بنویسید
                                        </h3>
                                        <div class="section-title-wrap">
                                            <h5 class="section-title">
                                                پر کردن موارد  <b>ستاره دار  </b> ‌ الزامی است
                                            </h5>
                                        </div>
                                    </div>
                                    <p class="mb-6">
                                        در صفحه پرسش‌های متداول به سوالات رایج و کلیدی که ممکن است در ذهن شما درباره خدمات حقوقی ما شکل بگیرد، پاسخ داده‌ایم. هدف ما از ایجاد این بخش، فراهم آوردن اطلاعات دقیق و شفاف درباره مراحل مختلف حقوقی، نحوه دریافت مشاوره و خدمات و سایر جزئیات مرتبط است. امیدواریم این پاسخ‌ها بتوانند بسیاری از ابهامات شما را برطرف کرده و به تصمیم‌گیری بهتر در مسیر حقوقی‌تان کمک کنند.
                                    </p>
                                    <form action="#">
                                        <textarea id="reply-message" cols="30" rows="6" class="form-control mb-4"
                                                  placeholder="دیدگاه شما *" required></textarea>
                                        <div class="row">
                                            <div class="col-md-6 mb-5">
                                                <input type="text" class="form-control" id="reply-name" name="reply-name"
                                                       placeholder="نام و نام خانوادگی *" required />
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <input type="email" class="form-control text-left" id="reply-email" name="reply-email"
                                                       placeholder="آدرس ایمیل *" required />
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            ثبت دیدگاه<span class="mr-1">»</span>
                                        </button>
                                    </form>
                                </div>
                                <!-- End Reply -->
                            </div>
                            <aside class="col-lg-3 sidebar sidebar-fixed sticky-sidebar-wrapper rtl bg-gray">
                                <div class="sidebar-overlay">
                                </div>
                                <a class="sidebar-close" href="#"><i class="fa-solid fa-xmark"></i></a>
                                <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                                <div class="sidebar-content">
                                    <div class="sticky-sidebar" data-sticky-options="{'top':0, 'bottom': 70}">
                                        <div class="widget widget-collapsible widget-advertisement">
                                            <div class="widget-body ">
                                                <img src="images/bg/widget-bg.jpg" />
                                                <div class="advertisement-info">
                                                    <h3>مشاوره رایگان</h3>
                                                    <br />
                                                    <a href="taking-turns.html" type="submit" class="btn btn-primary">نوبت گیری</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget widget-collapsible">
                                            <h5 class="widget-title">دسته بندی خدمات </h5>
                                            <ul class="widget-body filter-items search-ul">
                                                <li><a href="project-single.html">مشاوره حقوقی عمومی</a></li>
                                                <li><a href="project-single.html"> دعاوی خانوادگی</a></li>
                                                <li><a href="project-single.html"> دعاوی ملکی و املاک</a></li>
                                                <li><a href="project-single.html">حقوق تجارت و کسب‌وکار </a></li>
                                                <li><a href="project-single.html"> حقوق مالکیت فکری</a></li>
                                                <li><a href="project-single.html">دعاوی کیفری</a></li>
                                                <li><a href="project-single.html">مشاوره مالیاتی</a></li>
                                                <li><a href="project-single.html">حقوق کار و استخدام</a></li>
                                                <li><a href="project-single.html">حقوق بیمه</a></li>
                                                <li><a href="project-single.html"> دعاوی اداری و دولتی</a></li>
                                                <li><a href="project-single.html">دعاوی مالی و مدنی</a></li>
                                                <li><a href="project-single.html">حل اختلافات تجاری</a></li>
                                                <li><a href="project-single.html">قراردادهای بین‌المللی </a></li>
                                            </ul>
                                        </div>
                                        <div class="widget widget-collapsible">
                                            <h5 class="widget-title"> پروژهای اخیر</h5>
                                            <div class="widget-body ">
                                                <div class="post-col">
                                                    <div class="post post-list-sm">
                                                        <figure class="post-media">
                                                            <a href="blog-list.html">
                                                                <img src="images/blog/7_xs.jpg" width="90" height="90"
                                                                     alt="عکس از گالری" />
                                                            </a>
                                                        </figure>
                                                        <div class="post-details rtl">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date"> تاریخ  1403/08/02</a>
                                                            </div>
                                                            <div class="post-name">
                                                                <a href="#" class="post-author"> هلیا شکیبا</a>
                                                            </div>
                                                            <h5 class="post-title">
                                                                <a href="blog-list.html">
                                                                    نکات کلیدی برای پیروزی در دعاوی مدنی
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="post post-list-sm">
                                                        <figure class="post-media">
                                                            <a href="blog-list.html">
                                                                <img src="images/blog/8_xs.jpg" width="90" height="90"
                                                                     alt="عکس از گالری" />
                                                            </a>
                                                        </figure>
                                                        <div class="post-details rtl">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date"> تاریخ  1403/08/02</a>
                                                            </div>
                                                            <div class="post-name">
                                                                <a href="#" class="post-author"> هلیا شکیبا</a>
                                                            </div>
                                                            <h5 class="post-title">
                                                                <a href="blog-list.html">
                                                                    مراحل و استراتژی‌های دفاع در پرونده‌های مدنی
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="post post-list-sm">
                                                        <figure class="post-media">
                                                            <a href="blog-list.html">
                                                                <img src="images/blog/9_xs.jpg" width="90" height="90"
                                                                     alt="عکس از گالری" />
                                                            </a>
                                                        </figure>
                                                        <div class="post-details rtl">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date"> تاریخ  1403/08/02</a>
                                                            </div>
                                                            <div class="post-name">
                                                                <a href="#" class="post-author"> هلیا شکیبا</a>
                                                            </div>
                                                            <h5 class="post-title">
                                                                <a href="blog-list.html">
                                                                    چگونه می‌توان در دعاوی حقوقی از خود دفاع کرد؟
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget widget-posts widget-collapsible">
                                            <h5 class="widget-title">برچسب ها</h5>
                                            <div class="widget-body ">
                                                <a href="#" class="tag">مشاوره حقوقی آنلاین</a>
                                                <a href="#" class="tag">قراردادهای تخصصی</a>
                                                <a href="#" class="tag">وکالت دعاوی مدنی</a>
                                                <a href="#" class="tag">دفاع در دعاوی کیفری</a>
                                                <a href="#" class="tag">مشاوره حقوق خانواده</a>
                                                <a href="#" class="tag">مشاوره امور ملکی</a>
                                                <a href="#" class="tag">حقوق تجارت و شرکت‌ها</a>
                                                <a href="#" class="tag">دفاع از محیط زیست</a>
                                                <a href="#" class="tag">شکایات و دادخواست‌های قانونی</a>
                                                <a href="#" class="tag">داوری و حل اختلافات</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer appear-animate rtl text-right features-area counter-main">
            <div class="footer-wrap container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <a href="index-2.html" class="logo-footer">
                                    <img src="images/logo-footer.png" alt="لوگو قالب وکیل الرعایا" width="154" height="43">
                                </a>
                            </div>
                            <div class="col-lg-9">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="widget">
                                    <p>مشاوره حقوقی دقیق برای رفع مشکلات قانونی شما</p>
                                    <ul class="widget-body ">
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <span>شعبه مرکزی : تهران ، خیابان آرژانتین ، کوچه اول ، سمت راست درب آخر</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone"></i>
                                            <a href="tel:02134567891">021-34567891</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i>
                                            <a href="mailto:example@example.com">support@example.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="widget">
                                    <h4 class="widget-title mt-0">لینک های مفید</h4>
                                    <ul class="widget-body ">
                                        <li><a href="blog-list.html">مقالات حقوقی</a></li>
                                        <li><a href="faq.html">سوالات متداول</a></li>
                                        <li><a href="services.html">خدمات ما</a></li>
                                        <li><a href="contact-us.html"> تماس با ما</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="widget">
                                    <h4 class="widget-title mt-0">آخرین اخبار</h4>
                                    <div class="recent-post">
                                        <div class="recent-post-image">
                                            <img class="img-fluid" src="images/news/01.jpg" alt="تصویر نمونه مرتبط با خبر">
                                        </div>
                                        <div class="recent-post-info">
                                            <a href="news-single.html">عنوانی برای عکس </a>
                                            <span class="post-date"><i class="fa-light fa-calendar-days"></i>2 آبان 1403</span>
                                        </div>
                                    </div>
                                    <div class="recent-post">
                                        <div class="recent-post-image">
                                            <img class="img-fluid" src="images/news/02.jpg" alt="تصویر نمونه مرتبط با خبر">
                                        </div>
                                        <div class="recent-post-info">
                                            <a href="news-single.html">عنوانی برای عکس </a>
                                            <span class="post-date"><i class="fa-light fa-calendar-days"></i>2 آبان 1403</span>
                                        </div>
                                    </div>
                                    <div class="recent-post">
                                        <div class="recent-post-image">
                                            <img class="img-fluid" src="images/news/03.jpg" alt="تصویر نمونه مرتبط با خبر">
                                        </div>
                                        <div class="recent-post-info">
                                            <a href="news-single.html">عنوانی برای عکس </a>
                                            <span class="post-date"><i class="fa-light fa-calendar-days"></i>2 آبان 1403</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="widget">
                                    <h4 class="widget-title mt-0">صفحات اجتماعی</h4>
                                    <div class="footer-info d-flex align-items-center justify-content-between">
                                        <div class="social-links">
                                            <a href="#" class="social-link social-facebook fab fa-facebook-f">
                                                <span class="sr-only">social link</span>
                                            </a>
                                            <a href="#" class="social-link social-telegram fab fa-twitter">
                                                <span class="sr-only">social link</span>
                                            </a>
                                            <a href="#" class="social-link social-linkedin fab fa-linkedin-in">
                                                <span class="sr-only">social link</span>
                                            </a>
                                        </div>
                                    </div>
                                    <figure class="widget-body row">
                                        <div class="nemad-box"><img src="images/enemad.png" alt="نماد اعتماد الکترونیک"></div>
                                        <div class="nemad-box"><img src="images/samandehi.png" alt="نماد ساماندهی"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container justify-content-center">
                        <p class="copyright text-center">&copy; کلیه حقوق وبسایت برای وکیل الرعایا محفوظ است .</p>
                    </div>
                </div>
            </div>
            <div _ngcontent-ydb-c0="" class="lines"><div _ngcontent-ydb-c0="" class="line"></div><div _ngcontent-ydb-c0="" class="line"></div><div _ngcontent-ydb-c0="" class="line"></div><div _ngcontent-ydb-c0="" class="line"></div><div _ngcontent-ydb-c0="" class="line"></div></div>
        </footer>
        <div class="sticky-footer sticky-content fix-bottom rtl text-right">
            <a href="index-2.html" class="sticky-link">
                <i class="fa-light fa-home"></i>
                <span>صفحه نخست</span>
            </a>
            <a href="services.html" class="sticky-link">
                <i class="fa-light fa-sliders-up"></i>
                <span>دسته بندی</span>
            </a>
            <a href="status.html" class="sticky-link">
                <i class="fa-light fa-chart-line"></i>
                <span>وضعیت نوبت گیری</span>
            </a>
            <a href="account.html" class="sticky-link">
                <i class="fa-light fa-user"></i>
                <span>حساب کاربری</span>
            </a>
            <div class="header-search hs-toggle dir-up">
                <a href="#" class="search-toggle sticky-link">
                    <i class="fa-light fa-search"></i>
                    <span>جستجو</span>
                </a>
                <form action="#" class="input-wrapper">
                    <input type="text" class="form-control" name="search" autocomplete="off"
                           placeholder="جستجو ..." required />
                    <button class="btn btn-search" type="submit">
                        <i class="fa-light fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></a>
        <div class="mobile-menu-wrapper">
            <div class="mobile-menu-overlay">
            </div>
            <a class="mobile-menu-close" href="#"><i class="fa-solid fa-xmark"></i></a>
            <div class="mobile-menu-container scrollable">
                <form action="#" class="input-wrapper">
                    <input type="text" class="form-control" name="search" autocomplete="off"
                           placeholder="جستجو ..." required />
                    <button class="btn btn-search" type="submit">
                        <i class="fa-light fa-search"></i>
                    </button>
                </form>
                <ul class="mobile-menu mmenu-anim">
                    <li>
                        <a href="index-2.html">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="product.html">صفحات قالب</a>
                        <ul>
                            <li>
                                <a href="#">صفحات اصلی</a>
                                <ul>
                                    <li><a href="index-2.html">صفحه اصلی 1</a></li>
                                    <li><a href="index2.html">صفحه اصلی 2</a></li>
                                    <li><a href="index3.html">صفحه اصلی 3</a></li>
                                </ul>
                            </li>
                            <li><a href="404.html">صفحه 404</a></li>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li>
                                <a href="#">مقالات</a>
                                <ul>
                                    <li><a href="blog-archive.html">آرشیو مقاله ها </a></li>
                                    <li><a href="blog-list.html">لیست مقالات</a></li>
                                    <li><a href="project-single.html">مقاله</a></li>
                                    <li><a href="project-single.html">مقاله</a></li>
                                </ul>
                            </li>
                            <li><a href="coming-soon.html">بزودی</a></li>
                            <li><a href="contact-us.html">تماس با ما</a></li>
                            <li><a href="faq.html">سولات متداول</a></li>
                            <li><a href="gallery.html">گالری عکس</a></li>
                            <li>
                                <a href="#">ورود و تنظیمات</a>
                                <ul>
                                    <li><a href="login.html">ورود </a></li>
                                    <li><a href="register.html">ثبت نام </a></li>
                                    <li><a href="password-change.html">تغییر رمز عبور</a></li>
                                    <li><a href="password-forgot.html">تغییر پسورد</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">اخبار</a>
                                <ul>
                                    <li><a href="news-archive.html">آرشیو اخبار</a></li>
                                    <li><a href="news-list.html">لیست اخبار</a></li>
                                    <li><a href="news-single.html">اخبار</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">قیمت گذاری</a>
                                <ul>
                                    <li><a href="pricing-details.html">جزئیات قیمت گذاری</a></li>
                                    <li><a href="pricing.html">قیمت گذاری</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">پروژه ها</a>
                                <ul>
                                    <li><a href="project-single.html">جزئیات پروژه</a></li>
                                    <li><a href="project.html">پروژها </a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">بزودی</a></li>
                            <li><a href="request-advice.html">درخواست مشاوره</a></li>
                            <li><a href="request-assist.html">درخواست همکاری</a></li>
                            <li>
                                <a href="#">خدمات</a>
                                <ul>
                                    <li><a href="services-single.html">جزئیات خدمات</a></li>
                                    <li><a href="services.html">لیست خدمات</a></li>
                                </ul>
                            </li>
                            <li><a href="taking-turns.html">نوبت گیری</a></li>
                            <li>
                                <a href="#">اعضا</a>
                                <ul>
                                    <li><a href="team-single.html">اعضا</a></li>
                                    <li><a href="team.html">لیست اعضا</a></li>
                                </ul>
                            </li>
                            <li><a href="terms.html">شرایط</a></li>
                            <li><a href="testimonial.html">گواهینامه ها</a></li>
                            <li><a href="video.html">ویدئو</a></li>
                            <li><a href="sound.html">فایل صوتی</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="shop.html" class="active">لیست خدمات</a>
                        <ul>
                            <li>
                                <a href="#">وکیل خانواده</a>
                                <ul>
                                    <li><a href="services-single.html">وکیل طلاق </a></li>
                                    <li><a href="services-single.html">وکیل مهریه</a></li>
                                    <li><a href="services-single.html">وکیل حضانت</a></li>
                                    <li><a href="services-single.html">وکیل نفقه </a></li>
                                    <li><a href="services-single.html">وکیل امورزنان</a></li>
                                    <li><a href="services-single.html">وکیل مصادره اموال</a></li>
                                    <li><a href="services-single.html">وکیل اجرت المثل</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">وکیل ملکی</a>
                                <ul>
                                    <li><a href="services-single.html">وکیل طلاق </a></li>
                                    <li><a href="services-single.html">وکیل مهریه</a></li>
                                    <li><a href="services-single.html">وکیل حضانت</a></li>
                                    <li><a href="services-single.html">وکیل نفقه </a></li>
                                    <li><a href="services-single.html">وکیل امورزنان</a></li>
                                    <li><a href="services-single.html">وکیل مصادره اموال</a></li>
                                    <li><a href="services-single.html">وکیل اجرت المثل</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">وکیل حقوقی</a>
                                <ul>
                                    <li><a href="services-single.html">وکیل طلاق </a></li>
                                    <li><a href="services-single.html">وکیل مهریه</a></li>
                                    <li><a href="services-single.html">وکیل حضانت</a></li>
                                    <li><a href="services-single.html">وکیل نفقه </a></li>
                                    <li><a href="services-single.html">وکیل امورزنان</a></li>
                                    <li><a href="services-single.html">وکیل مصادره اموال</a></li>
                                    <li><a href="services-single.html">وکیل اجرت المثل</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">وکیل کیفری</a>
                                <ul>
                                    <li><a href="services-single.html">وکیل طلاق </a></li>
                                    <li><a href="services-single.html">وکیل مهریه</a></li>
                                    <li><a href="services-single.html">وکیل حضانت</a></li>
                                    <li><a href="services-single.html">وکیل نفقه </a></li>
                                    <li><a href="services-single.html">وکیل امورزنان</a></li>
                                    <li><a href="services-single.html">وکیل مصادره اموال</a></li>
                                    <li><a href="services-single.html">وکیل اجرت المثل</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog-list.html">مقالات</a></li>
                    <li><a href="faq.html">سولات متداول</a></li>
                    <li><a href="about-us.html">درباره ما</a></li>
                    <li><a href="contact-us.html">تماس با ما </a></li>
                </ul>
            </div>
        </div>
        <button class="chat-button" onclick="toggleChat()"><i class="fa-regular fa-message-dots"></i></button>
        <div class="chat-container" id="chat-container">
            <div class="chat-header">
                پشتیبانی آنلاین
            </div>
            <div class="chat-box" id="chat-box">
                <div>سلام، چطور می‌توانم کمک کنم؟</div>
            </div>
            <div class="chat-input-container">
                <textarea class="chat-input" id="chat-input" placeholder="پیام خود را وارد کنید..."></textarea>
                <button class="send-button" onclick="sendMessage()"><i class="fa-sharp fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    <script src="plugin-js/jquery/jquery.min.js"></script>
    <script src="plugin-js/sticky/sticky.min.js"></script>
    <script src="plugin-js/owl-carousel/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="js/main.min.js"></script>
    <script src="js/chat.js"></script>
    <script>
        window.addEventListener('load', function () {
            const loaderContainer = document.querySelector('.bg-loader');
            loaderContainer.classList.add('hide');
        });
    </script>
</body>

<!-- Mirrored from lawyer.riode.ir/services-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Dec 2024 06:54:13 GMT -->
</html>