{% extends 'parent/base.html' %}
{% block title %}
قالب وکیل الرعایا : نوبت گیری
{% endblock %}
{% block content %}
        <main class="main rtl text-right">
            <div class="page-header section-main">
                <div class="container">
                    <h1 class="page-title">نوبت گیری </h1>
                    <ul class="breadcrumb">
                        <li><a href="index-2.html"><i class="fa-light fa-home"></i></a></li>
                        <li class="delimiter">⟩</li>
                        <li><a href="#">نوبت گیری</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-content">
                <div class="container">
                    <div class="service-list section-main">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="icon-box-main active">
                                    <div class="bg-number">1</div>
                                    <div class="icon-box">
                                        <i class="fas fa-calendar-check icon-box-icon"></i>
                                        <div class="icon-box-content rtl">
                                            <h4 class="icon-box-title">درخواست نوبت </h4>
                                            <ul class="icon-box-list">
                                                <li>
                                                    <span>
                                                        بعد از ثبت درخواست فرآیند شروع میشود
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="icon-box-main">
                                    <div class="bg-number">2</div>
                                    <div class="icon-box">
                                        <i class="fas fa-check-circle icon-box-icon"></i>
                                        <div class="icon-box-content rtl">
                                            <h4 class="icon-box-title"> تایید نوبت </h4>
                                            <ul class="icon-box-list">
                                                <li>
                                                    <span>
                                                        نوبت شما توسط دفتر وکالت تایید شد .
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="icon-box-main">
                                    <div class="bg-number">3</div>
                                    <div class="icon-box">
                                        <i class="fas fa-video icon-box-icon"></i>
                                        <div class="icon-box-content rtl">
                                            <h4 class="icon-box-title">مشاوره آنلاین یا حضوری</h4>
                                            <ul class="icon-box-list">
                                                <li>
                                                    <span>
                                                        وقت مشاوره به شما اختصاص داده شده است
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="icon-box-main">
                                    <div class="bg-number">4</div>
                                    <div class="icon-box">
                                        <i class="fas fa-clipboard-list icon-box-icon"></i>
                                        <div class="icon-box-content rtl">
                                            <h4 class="icon-box-title">پیگیری نتیجه</h4>
                                            <ul class="icon-box-list">
                                                <li>
                                                    <span>
                                                        نتایج برای شما با پیام ارسال می‌شود.
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login-popup section-main">
                        <div class="form-box">
                            <div class="tab tab-nav-simple tab-nav-boxed form-tab text-center">
                                <h4 class="text-body">نوبت گیری</h4>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="signin">
                                        <form method="post">
                                            <div class="form-group mb-3">
                                                {{ form.title }}
                                            </div>
                                            <div class="form-group mb-3">
                                                {{ form.subject_type }}
                                            </div>
                                            <div class="form-group mb-3">
                                                {{ form.subject }}
                                            </div>
                                            <div class="form-group mb-3">
                                                {{ form.file }}
                                            </div>
                                            <button class="btn btn-dark btn-block"
                                                    type="submit">
                                                ثبت
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}
<!-- Mirrored from lawyer.riode.ir/taking-turns.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Dec 2024 06:54:38 GMT -->
</html>